* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    /* Primary */
    --primary-color: #008efa;
    --white-color: #FFF;
    --dark-navy: #252a3c;
    --silver: #f3f3f4;

    /* Text */
    --text-color: #3c4151;
    --heading-color: #252a3c;
    --light-text-color: #686c79;

    /* Hover */
    --light-hover: rgba(255,255,255,0.07)
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

p, span {
    color: var(--text-color);
}

body {
    background-color: var(--white-color);
}

/* Start Header Style */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

header .logo {
    width: 80px;
    height: 40px;
    margin-right: 15px;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    padding: 0 10px;
}

header nav ul li a {
    color: var(--text-color);
}

/* End Header Style */

/* Start Main Style */

main .hero {
    display: flex;
    justify-content: center;
    width: 100%;
}

main .hero .banner {
    width: 50%;
    max-height: 380px;
}

main .hero .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .hero .hero-content {
    width: 50%;
    background-color: var(--primary-color);
    color: var(--white-color);
    max-height: 380px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
}

main .hero .hero-content h1 {
    color: var(--white-color);
    font-size: 40px;
    margin-bottom: 35px;
}

main .hero .hero-content span {
    color: var(--white-color);
    font-size: 22px;
}

main .hero .hero-content ul li {
    list-style: circle;
    font-size: 22px;
    margin-left: 23px;
    padding: 3px 0;
}

main .hero .hero-content button {
    margin-top: 35px;
    width: 80%;
    font-size: 19px;
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    padding: 12px 0;
    font-weight: bold;
    cursor: pointer;
}

main .hero .hero-content button:hover {
    background-color: var(--light-hover);
}

main .service-category {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}

main .service-category h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

main .service-category .category-box {
    width: 60%;
    margin-top: 15px;
}

main .service-category .category-box ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main .service-category .category-box ul li {
    width: 24%;
    background-color: var(--silver);
    border-radius: 10px;
    padding: 15px 0;
    margin-bottom: 15px;
}

main .service-category .category-box ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .service-category .category-box ul li a .category-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

main .service-category .category-box ul li a .category-icon img {
    width: 100%;
    height: 100%;
}

main .service-category .category-box ul li a h3 {
    font-size: 18px;
}

main .other-services {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

main .other-services h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

main .other-services .other-services-icons {
    width: 70%;
}

main .other-services .other-services-icons ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .other-services .other-services-icons ul a  {
    width: 23%;
}

main .other-services .other-services-icons ul a li {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .other-services .other-services-icons ul a li .osi {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

main .other-services .other-services-icons ul a li .osi img {
    width: 100%;
    height: 100%;
}

main .other-services .other-services-icons ul a li .content-box h4 {
    font-size: 17px;
    margin-bottom: 7px;
}

main .other-services .other-services-icons ul a li .content-box p {
    font-size: 15px;
}

main .slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0 50px;
}

main .slider .slider-image {
    width: 60%;
    border-radius: 10px;
}

main .slider img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main .benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 80px;
}

main .benefits .benefit-top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
}

main .benefits .benefit-top .benefit-bg {
    width: 50%;
    height: 100%;
}

main .benefits .benefit-top .benefit-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .benefits .benefit-top .benefit-title {
    width: 60%;
    padding: 35px 180px 0 60px;
}

main .benefits .benefit-top .benefit-title h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

main .benefits .benefit-top .benefit-title p {
    font-size: 16px;
    line-height: 1.5;
}

main .benefits .benefit-content {
    width: 80%;
    margin-top: -120px;
}

main .benefits .benefit-content ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

main .benefits .benefit-content ul li {
    width: 22%;
}

main .benefits .benefit-content ul li .benefit-icons {
    width: 100%;
    height: 190px;
    background-color: var(--silver);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

main .benefits .benefit-content ul li .benefit-icons img {
    width: 210px;
    height: 100%;
}

main .benefits .benefit-content ul li p {
    margin-top: 10px;
}

main .purchasing-steps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}

main .purchasing-steps .steps-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .purchasing-steps .steps-container .steps-list {
    width: 22%;
    margin-right: 50px;
}

main .purchasing-steps .steps-container .steps-list ul a {
    text-align: center;
    color: var(--primary-color);
    font-size: 16px;
}

main .purchasing-steps .steps-container .steps-list ul a:active, main .purchasing-steps .steps-container .steps-list ul .active  {
    text-align: center;
    color: var(--white-color);
    font-size: 16px;
}

main .purchasing-steps .steps-container .steps-list ul a li {
    background-color: var(--silver);
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border-radius: 10px;
}

main .purchasing-steps .steps-container .steps-list ul a:active li, main .purchasing-steps .steps-container .steps-list ul .active li {
    background-color: var(--primary-color);
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border-radius: 10px;
}

main .purchasing-steps .steps-container .steps-list ul a:active li:hover, main .purchasing-steps .steps-container .steps-list ul .active li:hover {
    background-color: #1497fa;
}

main .purchasing-steps .steps-container .steps-content {
    width: 55%;
    margin-right: 35px;
}

main .purchasing-steps .steps-container .steps-content h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

main .purchasing-steps .steps-container .steps-content p {
    font-size: 18px;
}

main .purchasing-steps .steps-container .steps-img {
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .purchasing-steps .steps-container .steps-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main .stores {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .stores h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

main .stores .in-person-stores {
    width: 65%;
}

main .stores .in-person-stores ul {
    display: flex;
    flex-wrap: wrap;
}

main .stores .in-person-stores ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    margin-bottom: 30px;
}

main .stores .in-person-stores ul li a .img-box {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
}

main .stores .in-person-stores ul li a .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main .stores .in-person-stores ul li a {
    text-align: center;
}

main .video {
    width: 100%;
    background-color: #e6f4ff;
    margin: 50px 0;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .video .video-box {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .video .video-box video {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

main .information {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .information .info-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

main .information .info-container .info-left {
    width: 48%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

main .information .info-container .info-left .infobox {
    width: 100%;
    background-color: var(--silver);
    padding: 35px 30px;
    border-radius: 15px;
}

main .information .info-container .info-left .infobox h4, main .information .info-container .info-right .info-img .info-content h4 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

main .information .info-container .info-left .infobox p, main .information .info-container .info-right .info-img .info-content p {
    font-size: 17px;
    line-height: 1.5;
    color: var(--heading-color);
}

main .information .info-container .info-right {
    width: 48%;
}

main .information .info-container .info-right .info-img {
    width: 100%;
    background-color: #e6f4ff;
    border-radius: 15px;
}

main .information .info-container .info-right .info-img img {
    width: 100%;
    height: 315px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

main .information .info-container .info-right .info-img .info-content {
    padding: 20px 30px;
}